#background {
  background-color: aquamarine;
}

#list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

#title {
  text-align: center;
}

#logout {
  border-radius: 5px;
  color: red;
  cursor: pointer;
}

#loggedIn {
  text-align: right;
}
